// Colors

$white: #fff;

$cintasLogo: #022169;
$cintasBlue: rgb(0, 106, 154);
$cintasRed: rgb(165, 17, 44);
$cintasGrey: rgb(56, 56, 56);

$dark: rgb(34, 34, 34);

$darkText: rgb(64, 64, 64);
$lightText: rgb(115, 115, 115);

$primary: $cintasRed;
$secondary: $cintasBlue;
//$light: $lightText;
//$dark: $dark;

$brand-primary: $cintasBlue;
$link-color: $cintasBlue;
$body-bg: $white;

$headings-color: $cintasRed;

// Fonts

$headings-font-weight: 800;

$font: proxima-nova-n4, proxima-nova, sans-serif;
$font-family-sans-serif: proxima-nova-n4, proxima-nova, sans-serif;