<div class="btn-group d-print-none" dropdown>
  <button id="button-time" dropdownToggle class="btn btn-sm btn-outline-primary dropdown-toggle"
          aria-controls="dropdown-time">
    <fa-icon [icon]="faCalendar" class="mr-1"></fa-icon>
    {{timeSelection}}
  </button>
  <div id="dropdown-time" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
       aria-labelledby="button-time">
    <button class="btn dropdown-item" type="button" *ngFor="let t of times"
            (click)="onTimeSelected(t)" [ngClass]="{'disabled': t == ChartPeriod.CUSTOM}">
      {{t}}
    </button>
  </div>
</div>
